.cardContainer{
    /* display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 25rem;
    margin: 15px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.747);
    border-radius: 15px;
    padding: 40px;
    transition: .6s ease;
    background-color: rgb(240, 240, 240); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 25%;
    position: relative;
    /* height: 61vh;
    width: 21.85vw;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 5px; */
}

.cardContainer:hover{
    cursor: pointer;
}

.img{
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    transition: .3s;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

.title{
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #6C7287;
    font-family: "Montserrat", sans-serif;
}

.text{
    font-size: 12px;
    font-weight: 500;
    /* letter-spacing: 1px; */
    color: #6C7287;
    font-family: "Montserrat", sans-serif;
}

.btn{
    font-size: 15px;
    content: "";
    width: .8rem;
    height: .8rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    border: 3px solid #6c72879c;
    background-color: #EA5959;
    border-radius: 50%;
    /* padding: 3% 3%; */
    margin: 5%;
    font-family: "Montserrat", sans-serif;
}
.btnT{
    font-size: 15px;
    content: "";
    width: .8rem;
    height: .8rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    border: 2px solid #6c72879c;
    background-color: #adad57;
    border-radius: 50%;
    /* padding: 3% 3%; */
    margin: 5%;
    font-family: "Montserrat", sans-serif;
}
.btnSelect {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btnSelectT {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #6c72878a;
    box-shadow: 2px 2px 10px #6c72879c;
    border-radius: 10%;
    padding: 3%;
}
.btnx {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: #EA5959;
    color: white;
    padding: 4px 10px;
    border-radius: 50%;
    z-index: 900;
    position: absolute;
    top: -10px;
    right: 0;
    margin-right: 15%;
    /* left: 0; */
}
