.landing{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.title{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
}

.img{
    margin-top: 30px;
    height: 500px;
    width: 1000px;

}

.description{
    margin-top: 30px;
    color: rgb(90, 90, 90);
}

.botones{
    display: flex;
    margin-top: 20px;
}

Link + Link{
    margin-left: 50px;
}

.btn{
    padding: 10px 30px;
    border-radius: 60px;
    background-color: #ACAD57;
    color: white;
}

.btn2{
    padding: 10px 30px;
    border-radius: 60px;
    margin-left: 5rem;
    background-color: #824B62;
    color: white
}

.footerContainer{
    bottom: 0px;
}