.landing{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.title{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
}

.img{
    margin-top: 30px;
    height: 500px;
    width: 1000px;

}

.description{
    margin-top: 30px;
    color: rgb(90, 90, 90);
}

.botones{
    display: flex;
    margin-top: 20px;
}

button + button{
    margin-left: 50px;
}

.btn{
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 60px;
}

.footerContainer{
    bottom: 0px;
}