@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.css{
    font-size: 2.3rem;
    color: #6C7287;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: "Nekst";
}
.fondouno{
    position: relative;
    margin-top: -2%;
    object-fit: fill;
}
/* body{
    height: 100%;
    width: 100%;
} */
.botonguardar{
    padding: 5px 10px;
    border-radius: 60px;
    background-color: #adad57;
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
    font-family:"Montserrat", sans-serif;
}



.formulario{
    display: flex;
    background-color: #adad57;
    color: #6C7287;
    height: 60vh;
    width: 30vw;
    margin-left: 75vh;
    justify-content: center;
    border-radius: 5%;
}
.boton{
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #F97B51;
    color: aliceblue;
    font: weight 700px;
    width: 20vh;
    box-shadow: 5px 5px 10px #0000004f;

    /* margin-left: 16vh; */
    /* margin-top: 25vh; */
}

.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    width: 80%;
    margin-top: 5%;
    /* background-color: red; */
}

.container{
    /* background-color: blue; */
    /* background-color: red; */
    /* height: 100%; */
}

.divFooter{
    bottom: 0;
}
@media screen and (max-width: 992px){
    .boton{
        
        margin-left: 14vw;
        margin-top: 2vh;
        margin-bottom: 5%;
    }
    .formulario{
        
        height :100%;
        width: 70vw;
        margin-left: 10vh;
    }

}