
.footerContainer{
    margin-top: 0px;
}


.css{
    font-size: 25px;
    color: #6C7287;
    margin-bottom: 5vh;
}
.fondouno{
    height: 70vh;
    width: 100%

}
body{
    height: 100%;
    width: 100%;
}
button.botonguardar{
    padding: 10px 30px;
    border-radius: 60px;
    background-color: #adad57;
    color: aliceblue;
    font: weight 700px;
    
    
}

.formulario{
    background-color: #adad57;
    color: #6C7287;
    height: 60vh;
    width: 25vw;
    margin-left: 75vh;
    justify-content: center;
    border-radius: 10%;
}
.boton{
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #F97B51;
    color: aliceblue;
    font: weight 700px;
    width: 20vh;
    margin-left: 16vh;
    margin-top: 25vh;
}
@media screen and (max-width: 992px){
    .boton{
        
        margin-left: 13vh;
        margin-top: 25vh;
    }
    .formulario{
        
        height :50vh;
        width: 70vw;
        margin-left: 10vh;

        
    }
    .fondouno{
        height: 30vh;
        width: 100vw;
    
    }
}