@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 24%;
  height: 18vh;
  margin: 3% 3%;
  position: relative;
  /* margin: 5px; */
  /* padding: 0px; */
  color: #6c7287;
  /* gap: 10px; */
  overflow: hidden;
  cursor: pointer;
  /* background-color: pink; */
}

.servicesCardMan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-color: rgba(240, 240, 240, 0.322); */
  min-width: 22%;
  height: 18vh;
  margin: 2% 5%;
  /* padding: 10px; */
  color: #f97b51;
  /* gap: 10px; */
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  /* box-shadow: 5px 10px 10px rgba(73, 73, 73, 0.87); */
  overflow: hidden;
  /* background-color: rgb(31, 111, 216); */
}
.servicesCardMan:focus {
  box-shadow: 5px 10px 10px rgba(73, 73, 73, 0.432);
  border-radius: 30px;
  border: 1px solid rgb(126, 27, 27);
  background-color: #8d8d8d41;
}
.addCartBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addCartBtnT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 18vw;
  padding: 2%;
  /* background-color: blue; */
  border: 2px solid #6c7287a1;
  box-shadow: 2px 2px 10px #6c6c6cb6;
  border-radius: 10%;
}
.deleteCartBtn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  background-color: #EA5959;
  border-radius: 50%;
  margin-top: 5%;
  padding: 4% 8%;
  /* width: 3vw; */
  position: absolute;
  color: white;
  top: 2px;
  right: 0;
}
.logosServices {
  height: 90px;
  /* width: 700px; */
}

.name {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #6c7287;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #6c7287;
}

.nameM {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 800;
  /* color: #F97B51; */
}

.priceM {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  /* color: #F97B51; */
}
